@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --purple: #5a08b8;
        --blue: #1AB1F9;
        --lime: #A4D42F;
        --light-foreground: #E3E8EA;
    }

    section {
        @apply py-12
    }

    .container {
        @apply max-w-5xl mx-auto px-6;
    }
}

@layer components {
    .large-title {
        @apply text-6xl md:text-8xl lg:text-9xl font-black leading-tight;
    }

    .medium-title {
        @apply text-4xl font-semibold;
    }

    .small-title {
        @apply text-2xl font-semibold;
    }

    .btn {
        @apply inline-block px-6 py-4 rounded-lg my-6;
    }
}